:root {
  /* lighter pry color */
  --clr-primary-100: #A0EAFA;
  /* light btn color */
  --clr-light-btn: hsl(215, 100%, 87%);
  /* darker pry color */
  --clr-primary-200: #0043A2;
  /* background color also doubles as btn color*/
  --clr-primary-300: #FBFBFB;
  /* text content color */
  --clr-primary-400: #A8A8A8;
  /* white */
  --clr-primary-white: #ffffff;
  /* section background with transparency */
  --clr-section-bg:hsla(215, 100%, 87%, 0.16);
  /* footer color */
  --clr-footer-bg: #05173D;
  --clr-footer-bg-2: #00133D;


  /* darker sec color 1 */
  --clr-secondary-100: #00204D;
  /* darker sec color 2 */
  --clr-secondary-200: #002D36;
  /* darker sec color 3 */
  --clr-secondary-300: #000000;
  /* on hover state */
  --clr-secondary-400: #BED9FF;
  /* list icon */
  --clr-secondary-500: #B87300;

  --clr-secondary-600: #001E49;

  /* paragraph */
  --clr-paragraph: var(--clr-primary-400);
  /* span */
  --clr-span: var(--clr-primary-100);
  /* header */
  --clr-header: var(--clr-primary-200);
  /* nav */
  --clr-nav: var(--clr-secondary-300);
  /* course card border */
  --clr-nav: var(--clr-secondary-600);

  /* font-family */
  --ff-primary: 'Clash Display', sans-serif;
  --ff-secondary: 'Archivo', sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-secondary);

  /* font-weight */
  --fw-primary-light: 300;
  --fw-primary-regular: 400;
  --fw-primary-semibold: 600;
  --fw-primary-bold: 700;

  --fw-secondary-xlight: 200;
  --fw-secondary-regular: 400;
  --fw-secondary-bold: 700;
  --fw-secondary-black: 900;

  /* font-size */
  /* if the utility class is numbered the media query won't change it but the ones with names do change   */
  /* calc */
  /* The calc() function takes a single expression as its parameter, with the expression's result used as the value.  */
  /* *
  Multiplication. At least one of the arguments must be a <number>.
  /
  Division. The right-hand side must be a <number>. */

  --fs-default: 16;

  /* increaments of 2 to the px values */
  --fs-xxs: calc((10 / var(--fs-default) * 1rem));
  --fs-xsm: calc((12 / var(--fs-default) * 1rem));
  --fs-sm: calc((14 / var(--fs-default) * 1rem));
  --fs-100: calc((16 / var(--fs-default) * 1rem));
  --fs-200: calc((18 / var(--fs-default) * 1rem));
  --fs-300: calc((20 / var(--fs-default) * 1rem));
  --fs-400: calc((22 / var(--fs-default) * 1rem));
  --fs-500: calc((24 / var(--fs-default) * 1rem));
  --fs-600: calc((26 / var(--fs-default) * 1rem));
  --fs-700: calc((28 / var(--fs-default) * 1rem));
  --fs-750: calc((30 / var(--fs-default) * 1rem));
  --fs-800: calc((40 / var(--fs-default) * 1rem));
  --fs-900: calc((48 / var(--fs-default) * 1rem));

  --fs-nav: var(--fs-100);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-body: var(--fs-400);
  --section-margin: var(--fs-750)

  /* padding and margin utility classes */
  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 3rem;
  --size-900: 4rem;

  /* --flow-spacer:  */
}

/* font size on larger screens */
@media (min-width: 50em) {
  :root {
    /* --fs-xxs: calc(12px / var(--fs-default))rem;;
    --fs-xsm: calc(14px / var(--fs-default))rem;;
    --fs-sm: calc(16px / var(--fs-default))rem;;
    --fs-100: calc(18px / var(--fs-default))rem;;
    --fs-200: calc(20px / var(--fs-default))rem;
    --fs-300: calc(22px / var(--fs-default))rem;
    --fs-400: calc(24px / var(--fs-default))rem;
    --fs-500: calc(26px / var(--fs-default))rem;
    --fs-600: calc(28px / var(--fs-default))rem;
    --fs-700: calc(30px / var(--fs-default))rem;
    --fs-800: calc(32px / var(--fs-default))rem;
    --fs-900: calc(34px / var(--fs-default))rem; */

    --fs-nav: var(--fs-100);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-body: var(--fs-400);
  }
}


/* a function that converts pixels to rems */
/* @function rem($pixels, $context: 16) {
  @return calc($pixels / $context) * 1rem;
} */
/* a function that converts pixels to ems */
/* for margins and paddings  */
/* @function em($pixels, $context: 16) {
  @return calc($pixels / $context) * 1em;
} */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding: 100px;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */
h1, 
h2 {
  font-family: var(--ff-primary);
  color: var(--clr-primary-200);
  font-weight: var(--fw-primary-bold);
}

h1 {
  font-size: var(--fs-primary-heading);
  line-height: 1.4;
}

h2 {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

@media (max-width: 40em){
  p,
  h1,
  h2 {
    text-align: center;
  }

  h2 {
    font-size: var(--fs-700);
  }
}

p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  /* max-width: 45ch; */
}

/* add this to p tags you want to span wider than the above style */
p[data-width="wide"]{
  max-width: 60ch;
}

.secondary-text-grey-paragraph {
  /* font-family: var(--ff-secondary);  */
  color: var(--clr-primary-400);
  font-weight: var(--fw-secondary-regular);
  padding-block: 2rem;
  width: 100%;
}

section {
  scroll-snap-align: center;
  padding-block: var(--size-900);
  height: 100%;
}

.gradient {
  background: var(--clr-primary-200); /*#0043A2*/
  background: linear-gradient(to bottom right, var(--clr-primary-200) 0%, #5BA2D4 50%, #A0EAFA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sign-in {
  color: var(--clr-primary-200);
  font-weight: var(--fw-primary-semibold);
  /* color: var(--clr-primary-100); */
  box-shadow: 0 2px 0 0 currentcolor;
}

.faq-container {
  --faq-max-width: 1685px;
  --padding: 1rem;
  width: min(var(--faq-max-width), 100% - var(--padding));
  margin-inline: auto;
}

.faq-container h2{
  text-align: center;
  margin-block: 50px;
}

summary.sub-paragraph {
  font-family: var(--ff-secondary);
  font-size: var(--fs-750);
  color: var(--clr-primary-200);
}

/* .arrow-down button {
  background-color: transparent;
  border: none;
} */

hr {
  border: .013em solid hsla(215, 100%, 32%, 0.051);
  margin-bottom: 60px;
}

/* .drop-down-activator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
} */

details {
  /* background-color: red; */
}


summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 10px;
  padding-inline: 200px;
}

summary:focus {
  outline: none;
}

details[open] .arrow-down img {
  transform: rotate(90deg);
}

.summary-title {
  user-select: none;
}

.summary-title:hover {
  cursor: pointer;
}

.show-drop-down-content {
  cursor: default;
  padding: 10px;
}

.show-drop-down-content p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  padding: 10px;
  padding-inline: 200px;
  color: var(--clr-primary-400);
}

/* the p tags before the h2 */
.sub-paragraph {
  /* color: var(--clr-secondary-100); */
  /* color: var(--clr-secondary-400); */
  color: var(--clr-primary-white);
  font-weight: var(--fw-secondary-regular);
}

.sub-paragraph[data-darker] {
  color: var(--clr-secondary-100);
}

.sub-paragraph[data-white] {
  color: var(--clr-primary-white);
  font-weight: var(--fw-primary-semibold);
}

h2[data-light-txt-drk-bg] {
  /* padding-bottom: 50px; */
  color: var(--clr-secondary-400);
  font-weight:  var(--fw-primary-semibold); 
  max-width: 25ch;
}

.swiper {
  width: 600px;
  height: 300px;
}

.button {
  display: inline-flex;
  background-color: var(--clr-primary-200);
  border-radius: 4.5px;
  border: none;
  color: var(--clr-primary-300);
  cursor: pointer;
  font-size: 15px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-semibold);
  padding: 0.65em  1.5em;
  -webkit-box-shadow: -5px 5px 0px 0px var(--clr-secondary-400);
  -moz-box-shadow: -5px 5px 0px 0px var(--clr-secondary-400);
  box-shadow: -5px 5px 0px 0px var(--clr-secondary-400);
}
.button:where(:hover, :focus-visible){
  background-color: var(--clr-light-btn);
  color: var(--clr-primary-200);
  -webkit-box-shadow: -5px 5px 0px 0px rgba(0,67,162,1);
  -moz-box-shadow: -5px 5px 0px 0px rgba(0,67,162,1);
  box-shadow: -5px 5px 0px 0px rgba(0,67,162,1);
}

.button[data-subscribe-btn="darker-btn"]{
  background-color: var(--clr-secondary-100);
  box-shadow: none;
}

.button[data-subscribe-btn="darker-btn"]:where(:hover,:focus-visible){
  /* background-color: red; */
  color: var(--clr-primary-300);
  box-shadow: var(--clr-secondary-400) 0px 0px 0px 3px;
  /* box-shadow: var(--clr-secondary-400); */
}

.button-stack {
  display: flex;
  align-items: center;
  gap: var(--size-500);
}

button:where([data-play-btn], [data-play-btn-inverse]) {
  display: flex;
  color: none;
  background-color: transparent;
  border: none;
}

img[data-play-icon] {
  color: none;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 100%;
  padding: 10px;
}

img[data-play-btn-icon] {
  color: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100%;
  padding: 10px;
}

img[data-play-icon]:where(:hover, :focus){
  background-color: var(--clr-light-btn);
  border: none;
  cursor: pointer;
}

img[data-play-btn-icon]:where(:hover, :focus){
  background-color: var(--clr-light-btn);
  border: none;
  cursor: pointer;
}

.primary-header {
  margin-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img[data-tech-leap-logo]{
  width: clamp(100px, 5vw, 150px);
  min-width: 80px;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-nav);
  font-weight: var(--fw-secondary-regular);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: clamp(var(--size-500), 4.2vw, var(--size-800));
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-secondary-100);
  /* box-shadow: 0 2px 0 0 currentcolor; */
  border-bottom: 2px solid currentcolor;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list.active-nav {
  color: var(--clr-secondary-100);
  /* box-shadow: 0 2px 0 0 currentcolor; */
  border-bottom: 2px solid currentcolor;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

section[data-our-courses] {
  background-color: var(--clr-secondary-100);
  background-image: url(../assets/img/dark-bg-with-waves.png);
  background-size: cover;
  background-repeat: no-repeat;
}



.carousel-courses {
  padding-block: 30px;
}


.carousel-courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 30px;
  align-items: center;
}

.carousel-course-card {
  /* background-color: hsla(215, 100%, 87%, 0.66); */
  /* background-color: var(--clr-section-bg); */
  /* width: 800px; */
  background-color: #ffffff;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 12px;
  padding-inline: 50px;
  text-align: center;
  width: 100%;
  max-width: 160px;
  height: 130px;
  border-radius: 10px;
}
.carousel-course-card img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.carousel-course-card h3{
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
  color: var(--clr-primary-200);
}

.circle {
  background-color: hsla(215, 100%, 87%, 0.5);
  border-radius: 50%;
  overflow: hidden;
  padding: 15px;
}

@media(max-width: 30em) {
  .carousel-course-group {
    display: flex;
    justify-content: center;
  }
} 

@media (max-width: 50em){
  /* on smaller screen hide the nav menu */
  .primary-navigation {
    display: none;

    padding: var(--size-800);
    /* with absolute the menu will scroll along with the page as opposed to fied where the  menu just sticks there */
    position: absolute;
    inset: 7rem var(--size-700) auto;
    background: var(--clr-secondary-100);
    border-radius: calc((4 / 16) * 1rem);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  }

  .primary-navigation::after {
    content: "";
    position: fixed;
    z-index: -1;
    inset: 0;
    /* background-color: red; */
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .nav-list {
    display: grid;
    gap: var(--size-700);
    text-align: center;
    /* font-size: var(--fs-nav); */
  }

  .nav-list a {  
    color: var(--clr-primary-300);
    text-decoration: none;
    font-weight: var(--fw-primary-semibold);
    transition: .25s ease;
  }

  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--clr-primary-100);
    box-shadow: 0 2px 0 0 currentcolor;
  }

  /* .primary-navigation[data-visible]:hover {
    box-shadow: rgba(121, 211, 244, 0.144) 0px 20px 10px 4px;
  } */

  /* on smaller screen show the hamburger menu icon */
  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close{
    display: none;
  }
}

/* .opened {
  display: block;
  position: fixed;
} */

.section-1-img {
  width: clamp(500px, 75%, 900px);
  max-width: 100%;
  /* background-color: red; */
}

.sub-text-button-container p {
  padding-block: 1px;
}


@media (max-width: 50em){
  .sub-text-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-600);
  }
}

.play-video-section {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.play-video-section button{
  margin-bottom: 60px;
}

@media (max-width: 50em){
  .play-video-section {
    align-items: center;
  }
}

.play-video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  isolation: isolate;
  height: 480px;
  background-image: url(../assets/img/lady-with-pc.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center; 
  /* color: hsl(215, 100%, 32%); */
  /* background: linear-gradient(0deg, hsla(215, 100%, 32%, 0.54), hsla(215, 100%, 32%, 0.6)), url(../assets/images/Image\ 2.png); */
  
  /* background-position: 100%; */
  /* width: 1096px;
  max-width: 100%;
  max-height: 100%;
  
  background-position:center;  */
  /* background-image: url(../assets/images/Image\ 2.png); */
  /* background-repeat: no-repeat; */
}

.play-video::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(0deg, hsla(215, 100%, 32%, 0.54), hsla(215, 100%, 32%, 0.6));
  z-index: -1;
  opacity: 0.92;
}

section[data-what-makes-us-different] {
  background-color: var(--clr-secondary-100);
  background-image: url(../assets/img/dark-bg-with-waves.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.value-carousel {
  /* display: flex;
  gap: 50px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 50px;
  align-items: center;
  padding-top: 50px;
}

@media(max-width: 40em) {
  .value-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.value-carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(200px, 15vw, 100%);
  padding-inline: 20px;
  padding-block: 40px;
  /* box-shadow: rgba(209, 208, 208, 0.388) -3px 1px 7px 1px; */
  background-color: #ffffff;
  /* border: 1px solid red; */
  border-radius: 6px;
  height: 200px;
  overflow: hidden;
}

.value-carousel-card * {
  transition: 0.3s ease all;
}

.value-carousel-card:hover {
  background-color: var(--clr-secondary-400);
  /* border: 1px solid green; */
}

.value-carousel-card:hover  p{
  display: block;
}

.value-carousel-card:hover > .value-carousel-card-header{
  flex-direction: row;
  gap: 10px;
  /* background-color: red; */
}

.value-carousel-card:hover > .value-carousel-card-header h4{
  font-size: 12px;
}

.value-carousel-card:hover > .value-carousel-card-header img{
  width: 20px;
}

.value-carousel-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-carousel-card img {
  width: 40px;
}

.value-carousel-card h4 {
  font-family: var(--ff-primary);
  color: var(--clr-secondary-200);
  font-weight: var(--fw-primary-bold);
}


.value-carousel-card p {
  display: none;
  font-size: var(--fs-xsm);
  max-width: 25ch;
  transition: 0.3s ease all;
}

.value-carousel-card p:hover {
  display: block;
  /* margin-top: 30px; */
  font-size: 10px;
  max-width: 45ch;
  text-align: justify;
}

[data-wrap] {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
}

@media(max-width: 50em) {
  [data-wrap]  {
    justify-content: center;
  }
}

.section-5-img {
  width: clamp(400px, 55%, 600px);
  max-width: 100%;
}

.check-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

@media(max-width: 40em) {
  .check-list {
    flex-direction: column;
  }

  .why-choose-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

.check-list img {
  width: 30px;
}

/* footer */

footer {
  scroll-snap-align: center;
  padding-block: 5em;
  background-color: var(--clr-footer-bg);
  font-family: var(--ff-secondary);
  /* font-size: var(--fs-750); */
  color: var(--clr-primary-white);
}

.footer {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 2.95rem;
}

.footer-top {
  display: flex;
  gap: 10rem;
}

/* .ft-about {
  max-width: 50ch;
} */

.ft-about img {
  width: 80px;
}

.ft-about p {
  padding-top: 2em;
  font-weight: var(--fw-primary-light);
  font-size: var(--fs-sm);
  olor: var(--clr-secondary-400);
  max-width: 35ch;
}

.ft-guide {
  display: flex;
  gap: 8rem;
}

.nav-links p {
  color: var(--clr-secondary-400);
  font-weight: var(--fw-primary-bold);
  font-size: var(--fs-200);
}

.nav-links ul {
  list-style: none;
  line-height: 1.756em;
}

.nav-links ul li {
  /* list-style: none; */
  font-size: var(--fs-sm);
  font-weight: var(--fw-secondary-xlight);
}

.newsletter {
  display: none;
  position: relative;
  border-radius: var(--size-600);
  background-color: hsla(180, 6%, 97%, 1);
  padding: var(--size-700);
}

.join-comm-txt {
  color: hsla(37, 100%, 36%, 1);
  font-size: var(--fs-xsm);
}

p.join-comm-txt[data-light-blue] { 
  color: var(--clr-secondary-400);
  font-size: var(--fs-sm);
  letter-spacing: 0.25rem;
  font-size: var(--fs-xsm);
}

p[data-newsletter] {
  font-weight: var(--fw-secondary-xlight);
} 

p[data-copyright] {
  font-weight: var(--fw-secondary-xlight);
  font-size: var(--fs-xsm);
}

.newsletter-txt-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newsletter-students {
  position: absolute;
  top: -4rem;
  right: -1rem;
  width: 400px;
}

.newsletter-students::before,
.newsletter-students::after {
  content: '';
  position: absolute;
  background-color: hsla(180, 6%, 97%, 1);
  height: 120px;
  width: 380px;
  bottom: -40px;
  clip-path: ellipse(64% 63.5% at 60% 80%);
  border-radius: 90px;
}

.fs-sm[data-newsletter] {
  max-width: 45ch;
  padding-block: 20px;
}


@media(max-width: 52.347em) {
  .control-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .newsletter-students {
    visibility: hidden;
  }

  .fs-sm[data-newsletter] {
    /* color: red; */
    max-width: 100%;
    margin-bottom: 30px;
  }
}

.subscriber-email-form {
  display: flex;
  gap: 0.35rem;
}

/* footer bottom */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.control-flow {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-email {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 10px;
  width: 300px;
  font-family: var(--ff-secondary);
  color: var(--clr-primary-white);
  font-size: var(--fs-sm);
  background-color: transparent;
  border: 1px solid var(--clr-light-btn);
  border-radius: 5px;
}

.input-email::placeholder {
  color: var(--clr-primary-white);
}

.input-email:focus-within {
  border: 3px solid var(--clr-primary-100);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

button.button:where([data-play-btn="footer-btn"]) {
  /* display: flex; */
  color: none;
  /* background-color: transparent; */
  border: none;
  box-shadow: none;
}

.fb-social-icons {
  flex-grow: 1;
}

.fb-social-icons ul{
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: auto;
  /* background-color: red; */
}

.fb-social-icons ul li.push-right {
  margin-left: 110px;
  /* background-color: yellow; */
  /* display: flex; */
}


.fb-social-icons li img {
  height: 30px;
}

.undisplaced-group {
  display: flex;
  gap: 30px;
}

.undisplaced-group :where(h2) {
  color: hsla(215, 100%, 15%, 0.04);
  margin-inline: auto;
  padding-top: 5px;
}

.undisplaced-group :where(:nth-child(2)) {
  position: relative;
  top: 60px;
}

.undisplaced-group :where(:nth-child(3)) {
  position: relative;
  top: 20px;
}

.displaced-text {
  /* position: absolute;
  top: 800px;
  left: 250px; */
  padding: 0;
  margin-top: 20px;
}

.displaced-text {
  position: relative;
  /* background-color: red; */
}

.displaced-group {
  display: flex;
  gap: 50px;
  position: absolute;
  display: flex;
  /* margin-inline: auto; */
  top: 200px;
}

.displaced-group :where(h2) {
  color: hsla(215, 100%, 15%, 0.04);
}

.displaced-group :where(:nth-child(1)) {
  position: relative;
  top: -50px;
}

.displaced-group :where(:nth-child(3)) {
  position: relative;
  top: -30px;
}

@media(max-width: 55em){
  .bg-section-transparent[data-add-vh-max] {
    margin-bottom: 0px !important;
  }

  .undisplaced-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .undisplaced-group :where(:nth-child(2)) {
    top: 0px;
  }

  .undisplaced-group :where(:nth-child(3)) {
    top: 0px;
  }

  .displaced-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;

  }

  .displaced-group :where(:nth-child(1)) {
    position: relative; 
    top: 0px;
  }

  .displaced-group :where(:nth-child(3)) {
    position: relative;
    top: 0px;
  }
}

.testimonial-carousel {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.testimonial-carousel-content {
  padding-inline: 4em;
  border-left: 1px solid var(--clr-secondary-400);
  margin-top: 30px;
}

.testimonial-carousel-content p {
  font-size: 16px; 
  padding-bottom: 20px;
  max-width: 65ch;
 
}

section[data-overlayed-blue-bg] {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
  isolation: isolate;
  height: 400px;
  background-image: url("../assets/img/group-students.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center; 

/* 

  position: relative;
  width: 100%;
  background: rgb(8,69,155); */
  
  /* background-image: url("../assets/img/group-students.png"),  linear-gradient(180deg, rgba(8,69,155,1) 0%, rgba(8,69,155,1) 100%); */
  /* background-blend-mode: overlay; */
  /* background: linear-gradient(to bottom right, #0043A2 0%, #5BA2D4 50%, #A0EAFA 100%), ; */
  /* background-image: url(../assets/img/group-students.png); */
  /* background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: no-repeat;
}

section[data-overlayed-blue-bg]::before {
  content: '';
  position: absolute;
  inset: 0;
  /* border-radius: 20px; */
  background: linear-gradient(0deg, hsla(215, 100%, 32%, 1), hsla(215, 100%, 32%, 1));
  z-index: -1;
  opacity: 0.69;
}
/* 
.text-1 {
  grid-area: accessible;
}
.text-2 {
  grid-area: trustworthy;
}
.text-3 {
  grid-area: practical;
}
.text-4 {
  grid-area: innovative;
}
.text-5 {
  grid-area: flexible;
}
.text-6 {
  grid-area: practical;
} */



/* our courses */
.learn-with-us {
  background-color: var(--clr-footer-bg);
  border-radius: 15px;
  padding: var(--size-900);
}

.secondary-text-light-blue-paragraph {
  /* font-family: var(--ff-secondary);  */
  color: var(--clr-primary-100);
  font-weight: var(--fw-secondary-regular);
  padding-block: 2rem;
  width: 100%;
}

.course-card-grid-grand-parent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* align-items: center; */
}

h2.section-description-h2 {
  color: var(--clr-secondary-100);
  /* text-align: center; */
  font-family: var(--ff-primary);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 144.8%; /* 3.258rem */
}

.course-card-grid-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 100px;
}
  
.div1 { grid-area: 1 / 1 / 6 / 3; }
.div2 { grid-area: 1 / 3 / 6 / 5; }
.div3 { grid-area: 1 / 5 / 6 / 7; }
.div4 { grid-area: 6 / 1 / 11 / 3; }
.div5 { grid-area: 6 / 3 / 11 / 5; }
.div6 { grid-area: 6 / 5 / 11 / 7; }

.course-card {
  border-radius: 20px;
  border: 2px solid var(--clr-secondary-600);
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

/* [data-course-UIUX].course-card-image-header{
  border-radius: 0.9375rem 0.9375rem 0rem 0rem;
  background: url(../assets/img/UIUX-course-card-img.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 13.0625rem; 
} */

h2.course-card-title {
  width: 3ch;
  color: var(--clr-secondary-100);
  font-family: var(--ff-secondary); /*Archivo*/ 
  font-size: var(--size-700); /*2.25rem  */
  /* font-style: normal; */
  font-weight: var(--fw-primary-semibold);
  line-height: 126.3%; /* 2.84175rem */
}

.course-card-information-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: var(--size-700);
}

.course-card-information-body p {
  color: #727272;
  font-family: var(--ff-secondary);;
  font-size: var(--fs-100);
  /* font-style: normal; */
  font-weight: var(--fw-primary-light);
  line-height: 126.3%; /* 1.263rem */
}

.course-card-price-footer {
  background-color: var(--clr-footer-bg-2);
  /* border-radius: 0.9375rem; */

  & h2 {
    text-align: center;
    color: #FFF;
    font-family: var(--ff-secondary);
    font-size: var(--fs-300);
    /* font-style: normal; */
    font-weight: 800;
    line-height: 126.3%; /* 1.8945rem */
    padding-block: var(--size-400);
  }
}

button.load-more-courses {
  color: var(--clr-secondary-100);
  background-color: #F5F9FF;
  font-family: var(--ff-secondary);
  font-size: var(--size-600); /*1.5rem*/
  font-style: normal;
  font-weight: var(--fw-primary-regular); /*400*/
  line-height: 126.3%; /* 1.8945rem */
  width: 13.625rem;
  height: 3.9375rem;
  flex-shrink: 0;
  align-self: center;
  border-radius: 0.625rem;
  border: 3px solid var(--clr-secondary-100);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 13px 0px var(--clr-primary-200); /*#0043A2*/
  }
}

/* mentors */

.worlds-best-mentors {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-footer-bg);
  border-radius: 15px;
  padding: var(--size-900);
  height: 28.8125rem;

  & h1 {
    color: #BED9FF;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135.3%; /* 5.412rem */
    max-width: 14ch;
  } 
}

.mentor-info {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
}

.mentor-card-grid-container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "mentor-card-1 mentor-card-1 mentor-card-2 mentor-card-2 mentor-card-3 mentor-card-3"
    "mentor-card-1 mentor-card-1 mentor-card-2 mentor-card-2 mentor-card-3 mentor-card-3"
    "mentor-card-4 mentor-card-4 mentor-card-5 mentor-card-5 mentor-card-6 mentor-card-6"
    "mentor-card-4 mentor-card-4 mentor-card-5 mentor-card-5 mentor-card-6 mentor-card-6"
    ". . . . . .";
}

.mentor-card {
  display: grid;
  justify-content: center;
  align-items: end;
  height: 250px;
  filter: grayscale(1);

  &:hover {
    filter: grayscale(0);
  }
}

.mentor-card-1 { 
  grid-area: mentor-card-1;
  background-image: url(../assets/img/mentor-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.mentor-card-2 { 
  grid-area: mentor-card-2;
  background-image: url(../assets/img/mentor-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.mentor-card-3 { 
  grid-area: mentor-card-3;
  background-image: url(../assets/img/mentor-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.mentor-card-4 { 
  grid-area: mentor-card-4;
  background-image: url(../assets/img/mentor-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.mentor-card-5 { 
  grid-area: mentor-card-5;
  background-image: url(../assets/img/mentor-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.mentor-card-6 { 
  grid-area: mentor-card-6;
  background-image: url(../assets/img/mentor-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.mentor-info {
  /* background-color: red; */
  padding-bottom: 10px;

  & h3 {
    font-size: var(--fs-750);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-bold);
    color: var(--clr-primary-white);
  }
}

.expert {
  display: flex;
  gap: 40px;

  & p {
    font-size: var(--fs-400);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-secondary-xlight);
    color: var(--clr-primary-white);
  }
}


/* about us */

.about-us-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-footer-bg);
  border-radius: 15px;
  padding: var(--size-900);
  height: 28.8125rem;
  text-align: center;
  gap: 30px;

  & h1 {
    color: #BED9FF;
    text-align: center;
    font-family: var(--ff-primary);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 135.3%; /* 5.412rem */
    /* width: 14ch; */
    /* padding-bottom: 30px; */
  } 

  & p {
    color: var(--clr-primary-white);
    font-family: var(--ff-secondary);
    font-size: var(--fs-400);
    font-weight: var(--fw-primary-light);
    max-width: 64ch;
  }
}

p.about-us-more {
  color: #727272;
  font-family: var(--ff-secondary);;
  font-size: var(--fs-300);
  /* font-style: normal; */
  font-weight: var(--fw-secondary-xlight);
  line-height: 126.3%; /* 1.263rem */
  letter-spacing: 1px;

  &[data-text-width-limiter] {
    /* background-color: red; */
    max-width: 50%;
  }
}

[data-dark-bg] {
  background-color: var(--clr-footer-bg);

  & h2 {
    color: var(--clr-primary-white);
  }

  & p {
    color: var(--clr-primary-white);
  }
}

.our-core-values {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 300px;
  animation: fadeIn 5s; 
}

@keyframes fadeIn {   0% { opacity: 0; }   100% { opacity: 1; } }

.our-core-values::-webkit-scrollbar {
  display: none;
}

li.li-core-values {
  display: flex;
  gap: 30px;
  scroll-snap-align: start;
  margin-bottom: 100px;
}

li.li-core-values > div {
  & h3 {
    color: var(--clr-secondary-100);
    text-align: justify;
    font-family: var(--ff-primary);
    font-size: var(--fs-300);
    /* font-style: normal; */
    font-weight: var(--fw-primary-semibold);
    line-height: 157.8%; /* 2.367rem */
    letter-spacing: 0.0225rem;
  }

  & p {
    color: #8E8E8E;
    text-align: justify;
    font-family: var(--ff-secondary);
    font-size: var(--fs-100);
    font-style: normal;
    font-weight: var(--fw-primary-light);
    line-height: 157.8%; /* 1.578rem */
    letter-spacing: 0.015rem;
  }
}

li.li-core-values::before {
  content: '';
  background-color: #001E49;
  width: 2.5rem;
  margin-top: 8px;
  height: 0.9rem;
  border-radius: 0;
  display: block;
  line-height: 2rem;
  color: white;
  text-align: center;
  margin-right: 0.5rem;
  margin-top: 10px;

}








/* utility classes */
.container {
  --max-width: 1077px;
  --padding: 1rem;
  /* choose the smaller value between the custom variable and 100% */
  /* the minus takes a padding of 1rem * 2 from both sides of the container */
  width: min(var(--max-width), 100% - (var(--padding) * 5));
  margin-inline: auto;
}

/* chosses every sibling in the div except the first  */
/* div-parent 
div-first-child doesn't pick
div-second-child picks
div-nth-child picks */

/* .flow > * + * {
  outline: 4px solid red;
} */

/* or use */
/* the reason its wrapped in a where is becase of specificty
the (.flow > :not(:first-child)) pseudo class has a strong specificity if you wanted to manipulate something that's attached to this later on it might be hard to fix so wrapping it in where removes the strong specificity*/
:where(.flow > :not(:first-child)){
  margin-top: var(--flow-spacer, 2em);
}

:where(.extra-height > :first-child){
  /* height: 85vh; */
  display: flex;
  align-items: center;
}

:where(.extra-height > :nth-child(2)){
  height: 65vh;
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.even-columns {
  display: grid;
  gap: 5rem;
}

@media (min-width: 50em) {

  .display-md-inline-flex {
    display: inline-flex;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 2fr 1fr;
  }
}

.bg-section-transparent[data-add-vh-max]{
  position: relative;
  height: 100%;
  padding-bottom: 5rem;
  margin-bottom: 100px;
}

/* text color class*/
.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-secondary-100 {
  color: var(--clr-secondary-100);
}
.text-secondary-200 {
  color: var(--clr-secondary-200);
}

/* bg color class*/
.bg-section-transparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-section-bg);
  height: clamp(400px, 10vh, 800px);
}
.bg-primary-100 {
  background-color: var(--clr-primary-100);
}
.bg-primary-200 {
  background-color: var(--clr-primary-200);
}

/* font family */
.ff-primary {
  font-family: var(--ff-heading);
}

.ff-secondary {
  font-family: var(--ff-body);
}

/* font weight class */
.fw-primary-light { 
  font-weight:  var(--fw-primary-light); 
}
.fw-primary-regular { 
  font-weight:  var(--fw-primary-regular); 
}

.fw-primary-semi-bold { 
  font-weight:  var(--fw-primary-semibold); 
}
.fw-primary-bold { 
  font-weight:  var(--fw-primary-bold); 
}

.fw-secondary-xlight { 
  font-weight:  var(--fw-secondary-xlight); 
}
.fw-secondary-regular { 
  font-weight:  var(--fw-secondary-regular); 
}
.fw-secondary-bold { 
  font-weight:  var(--fw-secondary-bold); 
}
.fw-secondary-black { 
  font-weight:  var(--fw-secondary-black); 
}

/* font size */
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-xxs {
  font-size: var(--fs-xxs);
}
.fs-xsm {
  font-size: var(--fs-xsm);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-900 {
  padding-block: var(--size-900);
  /* background-color: red; */
}
.display-sm-none {
  display: none;
}


